<!-- <div class="row">
  <div class="shadow-lg col-sm-4 p-3" style="width: 19.5rem;">
<div class="card" style="width: 18rem;">
  <img src="assets/Image/House_default.jpg"  alt="...">
  <div class="card-body p-1">
    <h1>{{Property.id}}</h1>
    <h2>{{Property.home}}</h2>
    <h3>{{Property.price}}</h3>
  </div>
</div>
</div>
</div> -->

<div class="row">
  <div class="col-sm-4 shadow-lg p-3" style="width: 19.5rem;">
    <div class="card">
      <img src="assets/Image/House_default.jpg" class="propimg">
      <div class="card-body p-2">
        <h1>{{Property.id}}</h1>
    <h2>{{Property.home}}</h2>
    <h3>{{Property.price}}</h3>
      </div>
    </div>
  </div>
</div>

